{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
   $(document).ready(function () {
     $('#data').DataTable({
       ajax: {
         url: '/api/data',
         type: 'POST'
       },
       serverSide: true,
       columns: [
         {data: null, defaultContent: '',
          orderable: false, className: 'select-checkbox'},
         {data: 'id', visible: false},
         {data: 'name'},
         {data: 'age'},
         {data: 'address', orderable: false},
         {data: 'phone', orderable: false},
         {data: 'email'}
       ],
       //columnDefs: [
       //  {orderable: false, className: 'select-checkbox', targets: 0}
       //],
       search: {
         return: true
       },
       select: {style: 'multi+shift', selector: 'td:first-child'},
       order: [[ 1, 'asc' ]] 
     });
   });
  </script>
{% endblock %}
